<div class="question-wrapper">
    <div class="type-category">
        <div>Тип запитання: {{question.type}}</div>
        <div>Категорія: {{question.categories}}</div>
    </div>
    <div class="description" *ngIf="question.description">{{question.description}}</div>
    <div class="question">{{question.question}}</div>
    <app-type1form *ngIf="question.type == 'I'" (answer)="setAnswer($event)" [answerText]="question.answer"></app-type1form>
    <app-type2form *ngIf="question.type == 'II'" (answer)="setAnswer($event)" [answerText]="question.answer"></app-type2form>
    <app-type3form *ngIf="question.type == 'III'" (answer)="setAnswer($event)" [answerText]="question.answer"></app-type3form>
</div>