.body-wrapper {
    width: 100%;
    height: 90%;
    background-color: var(--main-body-color);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
app-test-selection {
    position: absolute;
    width: 75%;
    height: 75%;
    z-index: -1;
    opacity: 0;
    transition: var(--fast-transition);
}
app-test-window {
    position: absolute;
    width: 75%;
    height: 75%;
    z-index: -1;
    opacity: 0;
    transition: var(--fast-transition);
}
app-hint-window {
    position: absolute;
    width: 75%;
    height: 75%;
    z-index: -1;
    opacity: 0;
    transition: var(--fast-transition);
}
app-result-window {
    position: absolute;
    width: 75%;
    height: 75%;
    z-index: -1;
    opacity: 0;
    transition: var(--fast-transition);
}
app-chat-window {
    position: absolute;
    width: 75%;
    height: 75%;
    z-index: -1;
    opacity: 0;
    transition: var(--fast-transition);
}
app-results-window {
    position: absolute;
    width: 75%;
    height: 75%;
    z-index: -1;
    opacity: 0;
    transition: var(--fast-transition);
}
.opened {
    width: 80%;
    height: 85%;
    z-index: 1;
    opacity: 1;
    transition: var(--fast-transition);
}
.opened-hint {
    width: 90%;
    height: 90%;
    z-index: 1;
    opacity: 0.95;
    transition: var(--fast-transition);
}
.opened-result {
    width: 90%;
    height: 90%;
    z-index: 1;
    opacity: 0.95;
}
.opened-chat {
    width: 90%;
    height: 90%;
    z-index: 1;
    opacity: 0.95;
}