.message-wrapper {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--message-body-color);
    border: 2px solid var(--secondary-color);
    box-shadow: 0 0 5px black;
    border-radius: 20px;
    width: 250px;
    max-width: 250px;
    min-height: 150px;
    max-height: 300px;
    margin: 25px;
    overflow-y: auto;
    transition: var(--fast-transition);
    display: flex;
    flex-direction: column;
    opacity: 0;
    z-index: 10;
    user-select: none;
}
.message-title {
    width: 100%;
    background-color: var(--selected-button-color);
    color: var(--font-color);
    font-size: var(--message-title-font-size);
    font-weight: var(--message-title-font-weight);
    border-radius: 20px 20px 0 0;
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 1px solid black;
}
.message-value {
    width: 100%;
    color: var(--font-color);
    font-size: var(--message-value-font-size);
    font-weight: var(--message-value-font-weight);
    padding: 5px;
    box-sizing: border-box;
}
.underline {
    height: 5px;
    width: 0;
    transition: var(--message-underline-transition);
    border-bottom: 1px solid black;
}
.underlined {
    height: 5px;
    width: 100%;
}
.green {
    background-color: var(--green-color)
}
.red {
    background-color: var(--red-color);
}