.answers-wrapper {
    display: flex;
    flex-direction: column;
}
.answer-wrapper {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 5px;
    border-bottom: 1px solid black;
    transition: var(--fast-transition);
    cursor: pointer;
    color: var(--font-color);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
}
.answer-wrapper:hover {
    background-color: var(--main-body-color);
}
.answer-wrapper:hover .checkbox {
    transform: scale(var(--scale-after));
}
.answer-wrapper:hover .checkbox .checkbox-filling {
    width: 14px;
    height: 14px;
    transform: scale(var(--scale-after));
}
.checkbox {
    width: 22px;
    height: 22px;
    transform: scale(var(--scale-before));
    transition: var(--fast-transition);
    background-color: var(--font-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.checkbox:hover {
    transform: scale(var(--scale-after));
}
.checkbox:hover .checkbox-filling {
    width: 14px;
    height: 14px;
    transform: scale(var(--scale-after));
}
.checkbox-filling {
    background-color: var(--secondary-color);
    width: 0;
    height: 0;
    transition: var(--fast-transition);
    transform: scale(var(--scale-before));
}
.checkbox-checked {
    transform: scale(var(--scale-after));
}
.checkbox-filling-checked {
    width: 14px;
    height: 14px;
    transform: scale(var(--scale-after));
}