.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 15px 25px;
}
.button {
    padding: 20px;
    border-radius: 25px;
    background-color: var(--main-body-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    min-width: 100px;
    outline: 1px solid var(--secondary-color);
    cursor: pointer;
    opacity: 0.8;
    transition: var(--fast-transition);
    border: 1px solid black;
}
.button:hover {
    opacity: 1;
    outline: 5px solid var(--secondary-color);
}
.clicked {
    opacity: 1;
    outline: 5px solid var(--secondary-color);
}
.item {
    font-size: 22px;
    font-weight: 500;
}