.hint-window-wrapper {
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    border-radius: 35px;
    border: 2px solid var(--secondary-color);
    display: flex;
    flex-direction: column;
}
.hint-window-header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color: var(--font-color);
    font-weight: 600;
    background-color: var(--main-body-color);
    border-radius: 35px 35px 0 0;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    height: 15%;
}
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: var(--title-font-size);
    font-weight: var(--title-font-weight);
}
.cross {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 40px;
    opacity: 0.8;
    transition: var(--fast-transition);
    cursor: pointer;
}
.cross:hover {
    opacity: 1;
}
.hints {
    color: var(--font-color);
    font-size: 18px;
    padding: 15px;
}