<div class="hint-window-wrapper">
    <div class="hint-window-header">
        <div class="title">Справка</div>
        <div class="cross" (click)="hintService.popup()">×</div>
    </div>
    <div class="hints">
        Програма розроблена для тестування навичок людей з питань ІТ.<br> <br>
        Кількість балів за запитання вказана в дужках (бали за спільне запитання, бали за специфічне запитання). Запитання може відноситися до одного з трьох типів: <br> <br>
        І - запитання з відповіддю "Так" чи "Ні" (1, 2), <br>
        ІІ - запитання з відкритою відповіддю, може містити одне або декілька слів (2, 4), <br>
        ІІІ - запитання з відкритою відповіддю, яке містить декілька відповідей. (4, 8). <br> <br>
        
        Категорія або категорії кожного запитання вказані у верхньому правому кутку вікна відповіді.
        <br> <br>
        Для коректної валідації відповідей на запитання третього типу, користувач повинен переходити на новий рядок з кожною даною відповіддю.
    </div>
</div>